<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>test2</title>
    <link rel="stylesheet" href="src/styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
</head>

<body>
    <div id="app">
        <h3>Syllabus</h3>
        <transition-group tag="ul">
            <li v-for="topic in syllabus" v-bind:key="topic">
                <button v-on:click="completed(topic)">Done</button>{{topic}}
            </li>
        </transition-group>

        <h3>Bus station simulator</h3>
        <transition-group tag="p" name="station">
            <span v-for="bus in buses" v-bind:key="bus">🚌</span>
        </transition-group>
    </div>
    <div id="app2">
        <input type="number" @input="move">
        <div class="ball" :style="'top: ' + height + 'em'"></div>
    </div>

    <script src="/dist/build.js"></script>
</body>

</html>
