/* #app */
.v-leave-active {
    transition: all 1s;
    opacity: 0;
    transform: translateY(-30px);
}

.station-leave-active, .station-enter-active {
    transition: all 2s;
    position: absolute;
}

.station-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}

.station-enter {
    opacity: 0;
    transform: translateX(30px);
}

.station-move {
    transition: 2s;
}

span {
    display: inline-block;
    margin: 3px;
}

/* #app2 */
.ball {
    width: 3em;
    height: 3em;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 60em;
}

/* #app3 */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-active {
    opacity: 0;
}

.zoom-leave-active, .zoom-enter-active {
    transition: transform .5s;
}

.zoom-leave-active, .zoom-enter {
    transform: scale(0);
}

.p-style {
    margin: 0;
    position: absolute;
    font-size: 3em;
}